{% extends "base.html" %}
{% load static %}
{% block title %}ورود{% endblock title %}
{% block content %}



        <main class="wrapper default">
            <div class="container">
                <div class="row">
                    <div class="main-content login_content  col-12 col-md-7 col-lg-5 mx-auto">
                        <header class="card-header">
                            <h3 class="card-title"><span>ورود به حساب کاربری</span></h3>
                        </header>
                        <div class="login_box">
                         
                          
                            
                                <form method="post" action="#" novalidated>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          {{form.as_p}}
                                    
                                        </div>
                                        <div class="col-6">
                                            <div class="form-account-agree">
                                                <label class="checkbox-form checkbox-primary">
                                                    <input type="checkbox" id="agree">
                                                    <span class="checkbox-check"></span>
                                                </label>
                                                <label for="agree"> مرا به خاطر بسپار</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <a class="faramooshi" href="#">رمز عبور را فراموش کرده اید؟</a>
                                        </div>
                                        <div class="col-12 text--center">
                                            <button type="submit" class="btn big_btn btn-main-masai">ورود  </button>
                                        </div>
                                        <div class="col-12 footer_login_reg text--center">
                                            <p>
                                                <span>کاربر جدید هستید؟</span>
                                                 <a href="{% url 'accounts:signup1' %}" >ثبت نام</a>

                                            </p>

                                        </div>
                                        <div class="col-12 ">

                                        </div>
                                    </div>
                                    {% csrf_token %}
                                </form>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}