{% extends "base.html" %}
{% load static %}
{% block title %}  درباره ما {% endblock title %}
{% block content %}
        <main class="cart-page default ">
            <div class="container">
                <div class="row">
                    <div class="contact_us_content col-12 mx-auto">
                        <header class="card-header">
                            <h3 class="card-title"><span>درباره ما</span></h3>
                        </header>
                        <div class="account-box contact_us_page">

                            <div class="account-box-content">
                                <form class="form-account">
                                    <div class="row">

                                        <div class="col-md-12 col-sm-12">
                                            
                                                <p>
                                                    قالب مَسای یکی از بهترین قالب های فروشگاهی در ایران است که به صورت یک پکیج کامل عرضه می شود. با استفاده از قالب مَسای می توانید فروشگاه آنلاین خود را به کمک ویژگی های متنوع آن به صورت حرفه ای و بی نقص طراحی کنید. این قالب به صورت محصول کاملا ایرانی با هدف بی نهایت قالب HTML و WordPress شروع به کار کرده است و به روز رسانی همیشگی دارد.
                                                    <br />
                                                    برای افزایش کیفیت و کارایی قالب، گروه برنامه نویسی گرزک به مرور زمان به بهبود و ارتقاء این قالب متمرکز شده است و همیشه با توجه به نیازهای مختلف کاربران، ویژگی های جدیدی به قالب آن اضافه می کند.
                                                    <br />
                                                    استفاده از قالب مَسای به شما این امکان را می دهد که یک فروشگاه عالی خود را طراحی کنید. این قالب شامل ویژگی های متنوعی است که شما را در ایجاد یک فروشگاه آنلاین موفق، بهترین عملکرد را می دهد.
                                                </p>


                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <img src="{% static 'assets/img/about.png' %}" />
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <hr class="hr-text" data-content="در مورد قالب مَسای بیشتر بدانید">

                                            <p>
                                                ما در گروه برنامه نویسی گرزک مفتخریم که بتوانیم با ارائه این قالب حرفه ای و کامل، خدمات ارزنده و کاربردی را به تمامی کاربران ارائه دهیم. یکی از ویژگی های برجسته این قالب، به روز رسانی همیشگی آن است که به شما اجازه می دهد تا به راحتی از ویژگی های جدید استفاده کنید و همواره در پیشرفت باشید. بنابراین، با انتخاب قالب مَسای مطمئن باشید که بهترین قالب فروشگاهی را برای خود خواهید داشت.

                                            </p>

                                        </div>
                                      
                                        <div class="col-md-6 col-sm-12">
                                            <hr class="hr-text" data-content="هر آنچه باید در مورد گروه گرزک بدانید">

                                            <p>
                                                ما در گروه برنامه نویسی گرزک مفتخریم که بتوانیم با ارائه این قالب حرفه ای و کامل، خدمات ارزنده و کاربردی را به تمامی کاربران ارائه دهیم. یکی از ویژگی های برجسته این قالب، به روز رسانی همیشگی آن است که به شما اجازه می دهد تا به راحتی از ویژگی های جدید استفاده کنید و همواره در پیشرفت باشید. بنابراین، با انتخاب قالب مَسای مطمئن باشید که بهترین قالب فروشگاهی را برای خود خواهید داشت.

                                            </p>

                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <img src="{% static 'assets/img/about.png' %}" />
                                        </div>
                                     
                                        <div class="col-md-12 col-sm-12">
                                            <hr class="hr-text" data-content="هر آنچه باید در مورد قالب مَسای بدانید">

                                            <p>
                                                قالب مَسای یکی از بهترین قالب های فروشگاهی در ایران است که به صورت یک پکیج کامل عرضه می شود. با استفاده از قالب مَسای می توانید فروشگاه آنلاین خود را به کمک ویژگی های متنوع آن به صورت حرفه ای و بی نقص طراحی کنید. این قالب به صورت محصول کاملا ایرانی با هدف بی نهایت قالب HTML و WordPress شروع به کار کرده است و به روز رسانی همیشگی دارد.
                                                <br />
                                                برای افزایش کیفیت و کارایی قالب، گروه برنامه نویسی گرزک به مرور زمان به بهبود و ارتقاء این قالب متمرکز شده است و همیشه با توجه به نیازهای مختلف کاربران، ویژگی های جدیدی به قالب آن اضافه می کند.
                                                <br />
                                                استفاده از قالب مَسای به شما این امکان را می دهد که یک فروشگاه عالی خود را طراحی کنید. این قالب شامل ویژگی های متنوعی است که شما را در ایجاد یک فروشگاه آنلاین موفق، بهترین عملکرد را می دهد.
                                            </p>

                                        </div>
                                       
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
{% endblock content %}