{% extends "base.html" %}
{% load static %}
{% load jalali_tags %}
{% load humanize %}
{% block title %}فروشگاه مَسای{% endblock title %}
{% block content %}

        <main class="main default space-top-10">
        
            <div class="container-fluid">
                <div class="slider_main owl-carousel owl-theme">
                
                    <div class="item">
                        <a href="category-search.html">
                            <svg xmlns="http://www.w3.org/2000/svg"  class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                                <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                            </svg>
                            <img src="static/assets/img/banner_img/01/16781944460617.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                            <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                        </svg>
                        <a href="category-search.html">
                            <img src="static/assets/img/banner_img/01/16785213091818.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <svg xmlns="http://www.w3.org/2000/svg"  class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                            <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                        </svg>
                        <a href="category-search.html">
                            <img src="static/assets/img/banner_img/01/16789575390919.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                </div>
                
                    
                     
            </div>
            <div class="container space-top-50 ">
                <div class="row space-bottom-30">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class=" col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/1.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">مَسای مارکت</b>
                                </div>
                            </div>
                            <div class="col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/2.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">حراج مَسای</b>
                                </div>
                            </div>
                            <div class="col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/3.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">خرید اقساطی</b>
                                </div>
                            </div>

                            <div class=" col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/4.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">مَسای سرویس</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">

                            <div class="col-3   contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/5.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">ماه رمضان</b>
                                </div>
                            </div>
                            <div class="col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/6.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">مَسای پلاس</b>
                                </div>
                            </div>
                            <div class="col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/7.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">هدیه خرید</b>
                                </div>
                            </div>
                            <div class="col-3  contact-miniicon  text-center">
                                <div class="space-5">
                                    <img src="{% static 'assets/img/Masai/minilogo/8.png' %}" class="minilogo_w">
                                    <b class="title-3 light-black">بیشتر</b>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row banner-ads">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <div class="widget-banner card border_all">
                                            <a href="category-search.html" target="_blank">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-3.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="widget-banner card">
                                            <a href="category-search.html" target="_top">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-4.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="widget-banner card border_all">
                                            <a href="category-search.html" target="_blank">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-5.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="widget-banner card">
                                            <a href="category-search.html" target="_top">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-6.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-product card border_all bglight pad_time_prod" id="shegeft_1">
                                    <header class="card-header">
                                        <h3 class="card-title">
                                            <span>
                                                <img src="{% static 'assets/img/shegeft_1.png' %}" />
                                            </span>
                                        </h3>
                                        <div class="countdown-timer" countdown data-date="12 25 2023 20:20:22">
                                            <ul class="text_countdown">
                                                <li data-days class="number_countdown">1</li>
                                                <li>روز</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-hours class="number_countdown">0</li>
                                                <li>ساعت</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-minutes class="number_countdown">0</li>
                                                <li>دقیقه</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-seconds class="number_countdown">0</li>
                                                <li>ثانیه</li>
                                            </ul>
                                        </div>
                                    </header>
                                 
                                    <div class="product-carousel owl-carousel owl-theme">
                                           {% for product in productoffer|slice:'8' %}
                                        <div class="item">
                                            <a href="{% url 'shop:detailpro' product.slug %}">
                                                <img src="{{product.pic.url}}"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="{% url 'shop:detailpro' product.slug %}"> {{product.product_name}} </a>
                                            </h2>
                                            <div class="price">
                                                             {% if product.offer %}
                                                                <del><span>{{ product.price|floatformat:0|intcomma }}<span>تومان</span></span></del>
                                                                <span class="discount_badge">{{ product.offer|floatformat:0|intcomma }}%</span>
                                                                <ins><span>{{ product.discounted_price|floatformat:0|intcomma }}<span>تومان</span></span></ins>
                                                            {% else %}
                                                                <span>{{ product.price|floatformat:0|intcomma }}<span>تومان</span></span>
                                                            {% endif %}
                                            </div>
                                            <div class="product-seller-details product-seller-details-item-grid">
                                                <span class="search_prod_icon">
                                                    <i class="fa fa-search search_icon_search" aria-hidden="true"></i>
                                                    <i class="fa fa-heart search_icon_like" aria-hidden="true"></i>
                                                </span>

                                                <span class="search_prod_btn">
                                                    <i class="fa fa fa-cart-arrow-down search_icon_cart" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                   {% endfor %}
                                    </div>
                                    
                                    <a href="{% url 'shop:shoplist' %}" class="view_more">مشاهده بیشتر</a>

                                </div>
                            </div>
                        </div>
                        <div class="row banner-ads">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="widget-banner card border_all">
                                            <a href="category-search.html" target="_blank">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-7.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="widget-banner card">
                                            <a href="category-search.html" target="_top">
                                                <img class="img-fluid" src="{% static 'assets/img/banner_img/img-8.jpg' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-product card border_all bglight">
                                    <header class="card-header">
                                        <h3 class="card-title">
                                            <span><img src="{% static 'assets/img/seller_1.png' %}" /></span>
                                        </h3>
                                    </header>
                                    <div class="product-carousel owl-carousel owl-theme">
                                        {% for i in products|slice:'8' %}
                                        <div class="item">
                                            <a href="{% url 'shop:detailpro' i.slug %}">
                                                <img src="{{i.pic.url}}"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="{% url 'shop:detailpro' i.slug %}"> {{i.product_name}} </a>
                                            </h2>
                                            <div class="price">
                                                {% if i.offer %}
                                                <del><span>{{ i.price|floatformat:0|intcomma }}<span>تومان</span></span></del>
                                                <span class="discount_badge">{{ i.offer|floatformat:0|intcomma }}%</span>
                                                <ins><span>{{ i.discounted_price|floatformat:0|intcomma }}<span>تومان</span></span></ins>
                                                {% else %}
                                                <span>{{ i.price|floatformat:0|intcomma }}<span>تومان</span></span>
                                                {% endif %}
                                            </div>
                                            <div class="product-seller-details product-seller-details-item-grid">
                                                <span class="search_prod_icon">
                                                    <i class="fa fa-search search_icon_search" aria-hidden="true"></i>
                                                    <i class="fa fa-heart search_icon_like" aria-hidden="true"></i>
                                                </span>

                                                <span class="search_prod_btn">
                                                    <i class="fa fa fa-cart-arrow-down search_icon_cart" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a href="{% url 'shop:shoplist' %}" class="view_more">مشاهده بیشتر  </a>

                                </div>
                            </div>
                        </div>
                     
                       
                       
                    </div>
                    
                </div>
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="{% static 'assets/img/banner_img/img-9.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <div class="brand-slider card border_all bglight">
                            <header class="card-header">
                                <h3 class="card-title"><span>دسته بندی های مَسای</span></h3>
                            </header>
                             <div class="row">
                                 <div class="col-12">
                                     <div class="row">
                                             {% for cat in category %}
                                         <div class="col-6 col-md-2 contact-bigicon">
                                       
                                             <a href="{% url 'shop:categorydetail1' cat.category_slug %}" target="_self">
                                                 <img class="img-responsive imgpad" src="{{cat.category_pic.url}}" alt="{{cat.category_name}}" />
                                                 <b class="title-3 light-black">{{cat.category_name}}</b>
                                             </a>

                                         </div>
                                         {% endfor %}
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">

                    <div class="col-12">
                        <div class="brand-slider card border_all bglight">
                            <header class="card-header">
                                <h3 class="card-title"><span>محبوب‌ترین برندها</span></h3>
                            </header>
                            <div class="owl-carousel">
                                {% for brands in brand %}
                                <div class="item borderitem">
                                    <img src="{{brands.brand_pic.url}}" alt="{{brands.brand_name}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
          <div class="container-fluid bgGray blog-box-footer">
       
                  <div class="container">
                      <div class="col-12">
                          <div class=" widget-blog  border_all ">
                              <header class="card-header">
                                  <h3 class="card-title"><span>مَسای مگ</span></h3>
                              </header>
                              
                              <div class="Blog-carousel owl-carousel owl-theme">
                                {% for blog in blogs|slice:'6' %}
                                  <div class="item">
                             
                                      <a href="{% url 'blog:blogdetail1' blog.slug %}">
                         
                                          <img src="{{blog.blog_image.url}}" class="img-fluid" alt="{{blog.blog_name}}">
                                      </a>
                                      <a href="{% url 'blog:blogdetail1' blog.slug %}">
                                          <h2 class="Blog_title">
                                            {{blog.blog_name}}
                                          </h2>
                                      </a>
                                      <div class="Blog_list">
                                          <span class="Blog_author">
                                              <i class="fa fa-user"></i>
                                                {{blog.username}}
                                          </span>
                                          <span class="Blog_Date">
                                              <i class="fa fa-calendar "></i>
                                              {{ blog.create_date|to_jalali:'%y/%m/%d'}}
                                          </span>
                                      </div>
                                  </div>
                                {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
        </main>
        



{% endblock content %}