asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.8.0rc2
distlib==0.3.8
Django==4.2.6
django-allauth==0.57.0
django-autoslug==1.9.9
django-ckeditor==6.7.0
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-filter==23.2
django-humanize==0.1.2
django-jalali==6.0.1
django-jalali-date==1.0.2
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-restframework==0.0.1
django-social-auth==0.7.28
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
filelock==3.13.1
httplib2==0.22.0
humanize==4.8.0
idna==3.6
jdatetime==4.1.1
oauth2==1.9.0.post1
oauthlib==3.2.2
Pillow==9.4.0
platformdirs==2.6.2
psycopg2==2.9.7
pycparser==2.21
PyJWT==2.8.0
pyparsing==3.1.2
python-openid==2.2.5
python3-openid==3.2.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
social-auth-app-django==5.4.0
social-auth-core==4.4.2
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2022.7
urllib3==2.2.1
virtualenv==20.17.1
