dj-database-url==2.1.0
Django==4.2.6
django-admin-interface==0.26.0
django-admin-material-dashboard==1.0.10
django-allauth==0.57.0
django-autoslug==1.9.9
django-ckeditor==6.7.0
django-colorfield==0.8.0
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-filter==23.2
django-humanize==0.1.2
django-jalali==6.0.1
django-jalali-date==1.0.2
django-jazzmin==2.6.0
django-jet==1.0.8
django-jet-reboot==1.3.3
django-js-asset==2.1.0
django-localeurl==2.0.2
django-modeltranslation==0.18.11
django-oauth-toolkit==2.3.0
django-render-partial==0.4
django-restframework==0.0.1
django-rosetta==0.9.9
django-social-auth==0.7.28
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.2.0
drf-spectacular==0.26.4
Eel==0.14.0
env==0.1.0
feedparser==6.0.10
filelock==3.9.0
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
ghasedakpack==0.1.13
greenlet==2.0.1
httplib2==0.22.0
humanize==4.8.0
idna==3.4
inflection==0.5.1
isodate==0.6.1
jdatetime==4.1.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jwcrypto==1.5.0
lxml==4.9.3
mysqlclient==2.2.0
numpy==1.24.2
oauth2==1.9.0.post1
oauthlib==3.2.2
pbr==5.11.1
pefile==2022.5.30
persiantools==3.0.1
Pillow==9.4.0
platformdirs==2.6.2
polib==1.2.0
psycopg2==2.9.7
pycodestyle==2.10.0
pycparser==2.21
pygame==2.2.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyJWT==2.8.0
pyparsing==3.0.9
python-dotenv==1.0.0
python-openid==2.2.5
python-slugify==8.0.1
python3-openid==3.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rpds-py==0.9.2
sgmllib3k==1.0.0
six==1.16.0
slug==2.0
social-auth-app-django==5.4.0
social-auth-core==4.4.2
soupsieve==2.4
stevedore==4.1.1
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.17.1
wrapt==1.15.0
zeep==4.2.1
zope.event==4.5.0
zope.interface==5.5.2