<style>
.success-msg,
.error-msg {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 3px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}
</style>
{% if messages %}
    {% for msg in messages %}
      {% if msg.tags == 'error' %}
      <div class="error-msg">
        <i class="fa fa-times-circle"></i>
        {{ msg }}
      </div>
      {% else %}
      <div class="success-msg">
        <i class="fa fa-check"></i>
          {{ msg }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


<script>
setTimeout(function() {
  var successMessageBox = document.querySelector(".success-msg");
  var errorMessageBox = document.querySelector(".error-msg");

  if (successMessageBox) {
    successMessageBox.style.opacity = "0";
    setTimeout(function() {
      successMessageBox.style.display = "none";
    }, 5000);
  }

  if (errorMessageBox) {
    errorMessageBox.style.opacity = "0";
    setTimeout(function() {
      errorMessageBox.style.display = "none";
    }, 5000);
  }
}, 2000);
</script>
{% if form.errors %}
  <div class="error-msg">
    <i class="fa fa-times-circle"></i>
    {% for field in form %}
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}