{% load static %}
                                <div class="modal-share modal-width-custom modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <ul class="profile-avatars default text-center">
                                                    <li>
                                                        <img class="profile-avatars-item" src="assets/img/profile/1.png" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<div class="name">{{ profile.user.username }}</div>
<div class="description">
    <a href="#" class="btn btn-main-masai">افزایش موجودی</a>
    <a href="#" class="btn btn-second-masai">مسای کلاب</a>
</div>
<div class="line"></div>
<div class="stats">
    <div class="stat">
        {{ order_count }}
        <div class="subtext">سفارش‌ها</div>
    </div>
    <div class="stat">
        68
        <div class="subtext">تحویل داده</div>
    </div>
    <div class="stat">
        {{ message_count }}
        <div class="subtext">پیام‌های شما</div>
    </div>
</div>