{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}سبد خرید{% endblock title %}
{% block content %}

        <main class="cart-page default space-top-30">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="order-steps">
                            <li>
                                <a href="cart.html" class="active">
                                    <span>سبدخرید</span>
                                </a>
                            </li>
                            <li>
                                <a href="shopping-payment.html">
                                    <span>پرداخت</span>
                                </a>
                            </li>
                            <li>
                                <a href="successful-payment.html">
                                    <span>اتمام خرید و ارسال</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart_content col-xl-12 col-lg-12 col-md-12">
                        <header class="card-header">
                            <h3 class="card-title"><span>سبد خرید شما</span></h3>
                        </header>
                        <div class="table-responsive default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">محصول</th>
                                        <th scope="col">سبد خرید شما</th>
                                        <th scope="col">قیمت واحد</th>
                                        <th scope="col">تعداد</th>
                                        <th scope="col">قیمت نهایی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                        {% with product=item.product %}
                                    <tr class="cart_item">
                                        <td>
                                            <img src="{{item.product.pic.url}}" alt="">
                                            <a href="{% url 'cart:cart_remove' item.product.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <h3 class="cart_title">
                                               <a href="">
                                                   {{item.product.product_name}}
                                               </a>
                                            </h3>
                                            <div class="cart_content">
                                                <div><span>برند </span><span  class="item_property">{{item.product.product_brand}}</span></div>
                                                <span class="cart_divider"></span>
                                                <div><span>رنگ </span><span  class="item_property">{{item.product.product_color}}</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart_price">
                                                {% if item.product.offer %}
                                                    <del><span>{{ item.product.price|floatformat:0|intcomma }}<span>تومان</span></span></del>
                                                    <ins><span>{{ item.product.discounted_price|floatformat:0|intcomma }}<span>تومان</span></span></ins>
                                                {% else %}
                                                   {{ item.product.price|floatformat:0|intcomma }} <span>تومان</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>{{ item.product_count }}</td>
                                        {% if item.product.offer %}
                                            <td class="price_alltd">{{ item.discounted_price|floatformat:0|intcomma }} <span>تومان</span></td>
                                        {% else %}
                                            <td class="price_alltd">{{ item.price|floatformat:0|intcomma }} <span>تومان</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="cart-page-content col-xl-12 col-lg-12 col-md-12">
                        <div class="row cart_details">
                            
                            <div class="cart-page-content col-xl-8 col-lg-7 col-md-7 ">
                                <input type="text" placeholder="کد تخفیف" class="input_second input_all width-200" disabled>
                                <a href="#" class="btn btn-main-masai"> اعمال</a>
                                <a href="#" class="btn btn-second-masai">به روز رسانی</a>
                                <div class="text_details">
                                    <p>
                                        ارسال رایگان برای سفارش‌های بالای 1 میلیون و 400 هزار تومان
                                    </p>
                                    <p>
                                        افزودن کالا به سبد خرید به معنی رزرو آن نیست با توجه به محدودیت موجودی سبد خود را ثبت و خرید را تکمیل کنید.
                                    </p>
                                </div>
                            </div>
                            <div class="cart-page-aside col-xl-4 col-lg-5 col-md-5 divider_details">
                                <table class="table table_details">
                                    <tbody>
                                        <tr>
                                            <td>قیمت کل سفارش:</td>
                                            <td>5,398,000 <span>تومان</span></td>
                                        </tr>
                                        <tr>
                                            <td>بسته‌بندی و ارسال:</td>
                                            <td>وابسته به نوع ارسال</td>
                                        </tr>
                                        <tr class="all">
                                            <td>قیمت قابل پرداخت:</td>
                                            <td>{{ cart.get_total_price|floatformat:0|intcomma }} <span>تومان</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><a href="{% url 'shop:checkout1' %}" class="btn big_btn btn-main-masai"> گام بعدی</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                   </div>
                      
                    </div>
                    </div>
           
        </main>

{% endblock content %}