{% extends "base.html" %}
{% load static %}
{% block title %}تماس با ما{% endblock title %}
{% block content %}

        <main class="cart-page default ">
            <div class="container">
                <div class="row">
                    <div class="contact_us_content col-12 mx-auto">
                        <header class="card-header">
                            <h3 class="card-title"><span>تماس با ما</span></h3>
                        </header>
                        <div class="account-box contact_us_page">
                        
                            <div class="account-box-content">
                                <form class="form-account" method="post">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="row">
                                                    <ul >
                                                        <li>
                                                            <i class="fa fa-map  colormain" aria-hidden="true"></i> ایران، تهران، خیابان طراحان، پلاک 0
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope colormain" aria-hidden="true"></i> info@test.ir - sell@test.ir
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone colormain" aria-hidden="true"></i> 01234567891 - 09198765432
                                                        </li>
                                                       
                                                    </ul>
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d191614.86529905675!2d49.24007631142681!3d37.34218334632767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1682887151736!5m2!1sen!2s" style="border:0;width:100%;min-height:400px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="col-md-6 col-sm-12 form_send_re  ">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn big_btn btn-main-masai">ارسال پیام </button>
                                                </div>
                                            </div>
                                        </div>
                                        


                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

{% endblock content %}
