{% extends "base.html" %}
{% load static %}
{% block title %}
پرداخت نهایی
{% endblock title %}
{% load humanize %}
{% block content %}
        <!-- main-shopping -->
        <main class="cart-page default">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="order-steps">
                            <li>
                                <a href="#"  class="active">
                                    <span>سبدخرید</span>
                                </a>
                            </li>
                            <li  class="active">
                                <a href="#"  class="active active2">
                                    <span>روش پرداخت</span>
                                </a>
                            </li>
                            <li >
                                <a href="#" >
                                    <span>پایان خرید</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    

                    <div class="cart-page-content col-xl-12 col-lg-12 col-md-12">
                        <header class="card-header">
                            <h3 class="card-title"><span>انتخاب روش پرداخت</span></h3>
                        </header>
                        <div class="row cart_details">
                           
                            <div class="cart-page-content col-xl-8 col-lg-7 col-md-7 ">
                    
                                    <div class="plans">
                                        <label class="plan basic-plan" for="pay1">
                                            <input checked type="radio" name="plan" id="pay1" />
                                            <div class="plan-content">
                                                <img loading="lazy" src="{% static 'assets/img/ico/png-10.png' %}" alt="" />
                                                <div class="plan-details">
                                                    <span>پرداخت اینترنتی</span>
                                                    <p>از طریق کارت های عضو شتاب</p>
                                                </div>
                                            </div>
                                        </label>

                                        <label class="plan complete-plan" for="pay2">
                                            <input type="radio" id="pay2" name="plan" />
                                            <div class="plan-content">
                                                <img loading="lazy" src="{% static 'assets/img/ico/png-11.png' %}" alt="" />
                                                <div class="plan-details">
                                                    <span>پرداخت در محل </span>
                                                    <p>با کارت بانکی</p>
                                                </div>
                                            </div>
                                        </label>

                                        <label class="plan complete-plan" for="pay3">
                                            <input type="radio" id="pay3" name="plan" disabled/>
                                            <div class="plan-content">
                                                <img loading="lazy" src="{% static 'assets/img/ico/png-9.png' %}" alt="" />
                                                <div class="plan-details">
                                                    <span>خرید اقساطی </span>
                                                    <p>با استفاده از مسای پی</p>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="plan complete-plan" for="pay4">
                                            <input type="radio" id="pay4" name="plan" disabled/>
                                            <div class="plan-content">
                                                <img loading="lazy" src="{% static 'assets/img/ico/png-8.png' %}" alt="" />
                                                <div class="plan-details">
                                                    <span>پرداخت اعتباری </span>
                                                    <p>الان بخر بعدا پرداخت کن</p>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                               
                               
                             
                            </div>
                            <div class="cart-page-aside col-xl-4 col-lg-5 col-md-5 divider_details">
                                <table class="table table_details">
                                    <tbody>
                                        <tr>
                                            <td> مالیات:</td>
                                            <td>5,000 <span>تومان</span></td>
                                        </tr>
                                        <tr>
                                            <td>بسته‌بندی و ارسال:</td>
                                            <td>وابسته به نوع ارسال</td>
                                        </tr>
                                        <tr class="all">
                                            <td>قیمت قابل پرداخت:</td>
                         
<td>{{ order.total_cost|floatformat:0|intcomma }}</td>
         
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <form action="." method="post">
                                                    {% csrf_token %}
                                    
                                                    <input class="btn btn-main-masai big_btn" type="submit" value="پرداخت">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main-shopping -->

{% endblock content %}